# Ignore everything at the root level by default
/*

# Allow tracking of specific folders and Git config files
!/innovation-hub/
!/infra/
!/.github/
!/.gitignore

# Ignore node_modules, logs, build outputs, environment files, and local DBs inside the app
**/node_modules/
**/dist/
**/.env
**/*.db
**/uploads/*
!**/uploads/.gitkeep
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/
.idea/
.vscode/
